@model ImageServiceWebApp.Models.LogModel

@{
    ViewBag.Title = "Logs";
}

<h2 style="color:greenyellow">Logs</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by TYPE: <input type="text" name="filterByType" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>


<table class="table">
    <tr>
        <th>TYPE</th>
        <th>Message</th>
    </tr>
    @foreach (var log in Model.Logs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => log.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => log.Message)
            </td>
        </tr>
    }
</table>
